WebContent/wsdl/App.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices.uge.fr" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservices.uge.fr" xmlns:intf="http://webservices.uge.fr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservices.uge.fr" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="connect">
    <complexType>
     <sequence>
      <element name="login" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="connectResponse">
    <complexType>
     <sequence>
      <element name="connectReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getQueue">
    <complexType>
     <sequence>
      <element name="carId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getQueueResponse">
    <complexType>
     <sequence>
      <element name="getQueueReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getNotifications">
    <complexType/>
   </element>
   <element name="getNotificationsResponse">
    <complexType>
     <sequence>
      <element name="getNotificationsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="isCurrentlyRented">
    <complexType>
     <sequence>
      <element name="carId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="isCurrentlyRentedResponse">
    <complexType>
     <sequence>
      <element name="isCurrentlyRentedReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeNotification">
    <complexType>
     <sequence>
      <element name="carId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeNotificationResponse">
    <complexType>
     <sequence>
      <element name="removeNotificationReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="basketToJSON">
    <complexType/>
   </element>
   <element name="basketToJSONResponse">
    <complexType>
     <sequence>
      <element name="basketToJSONReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeFromCart">
    <complexType>
     <sequence>
      <element name="carId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeFromCartResponse">
    <complexType>
     <sequence>
      <element name="removeFromCartReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="addToCart">
    <complexType>
     <sequence>
      <element name="carId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="addToCartResponse">
    <complexType>
     <sequence>
      <element name="addToCartReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="isInCart">
    <complexType>
     <sequence>
      <element name="carId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="isInCartResponse">
    <complexType>
     <sequence>
      <element name="isInCartReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllCars">
    <complexType/>
   </element>
   <element name="getAllCarsResponse">
    <complexType>
     <sequence>
      <element name="getAllCarsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="rent">
    <complexType>
     <sequence>
      <element name="carId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="rentResponse">
    <complexType>
     <sequence>
      <element name="rentReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="unrent">
    <complexType>
     <sequence>
      <element name="carId" type="xsd:long"/>
      <element name="note" type="xsd:float"/>
      <element name="cleanlinessNote" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="unrentResponse">
    <complexType>
     <sequence>
      <element name="unrentReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getMyCars">
    <complexType/>
   </element>
   <element name="getMyCarsResponse">
    <complexType>
     <sequence>
      <element name="getMyCarsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="isCurrentlyRentedResponse">

      <wsdl:part element="impl:isCurrentlyRentedResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getQueueRequest">

      <wsdl:part element="impl:getQueue" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllCarsRequest">

      <wsdl:part element="impl:getAllCars" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getQueueResponse">

      <wsdl:part element="impl:getQueueResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="rentResponse">

      <wsdl:part element="impl:rentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="unrentRequest">

      <wsdl:part element="impl:unrent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeNotificationRequest">

      <wsdl:part element="impl:removeNotification" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="connectRequest">

      <wsdl:part element="impl:connect" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="isInCartRequest">

      <wsdl:part element="impl:isInCart" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeFromCartRequest">

      <wsdl:part element="impl:removeFromCart" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeNotificationResponse">

      <wsdl:part element="impl:removeNotificationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addToCartRequest">

      <wsdl:part element="impl:addToCart" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="connectResponse">

      <wsdl:part element="impl:connectResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="unrentResponse">

      <wsdl:part element="impl:unrentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNotificationsResponse">

      <wsdl:part element="impl:getNotificationsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMyCarsRequest">

      <wsdl:part element="impl:getMyCars" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="isCurrentlyRentedRequest">

      <wsdl:part element="impl:isCurrentlyRented" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="rentRequest">

      <wsdl:part element="impl:rent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMyCarsResponse">

      <wsdl:part element="impl:getMyCarsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNotificationsRequest">

      <wsdl:part element="impl:getNotifications" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeFromCartResponse">

      <wsdl:part element="impl:removeFromCartResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="basketToJSONResponse">

      <wsdl:part element="impl:basketToJSONResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="basketToJSONRequest">

      <wsdl:part element="impl:basketToJSON" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="isInCartResponse">

      <wsdl:part element="impl:isInCartResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addToCartResponse">

      <wsdl:part element="impl:addToCartResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllCarsResponse">

      <wsdl:part element="impl:getAllCarsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="App">

      <wsdl:operation name="connect">

         <wsdl:input message="impl:connectRequest" name="connectRequest">

       </wsdl:input>

         <wsdl:output message="impl:connectResponse" name="connectResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getQueue">

         <wsdl:input message="impl:getQueueRequest" name="getQueueRequest">

       </wsdl:input>

         <wsdl:output message="impl:getQueueResponse" name="getQueueResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNotifications">

         <wsdl:input message="impl:getNotificationsRequest" name="getNotificationsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getNotificationsResponse" name="getNotificationsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="isCurrentlyRented">

         <wsdl:input message="impl:isCurrentlyRentedRequest" name="isCurrentlyRentedRequest">

       </wsdl:input>

         <wsdl:output message="impl:isCurrentlyRentedResponse" name="isCurrentlyRentedResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeNotification">

         <wsdl:input message="impl:removeNotificationRequest" name="removeNotificationRequest">

       </wsdl:input>

         <wsdl:output message="impl:removeNotificationResponse" name="removeNotificationResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="basketToJSON">

         <wsdl:input message="impl:basketToJSONRequest" name="basketToJSONRequest">

       </wsdl:input>

         <wsdl:output message="impl:basketToJSONResponse" name="basketToJSONResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeFromCart">

         <wsdl:input message="impl:removeFromCartRequest" name="removeFromCartRequest">

       </wsdl:input>

         <wsdl:output message="impl:removeFromCartResponse" name="removeFromCartResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addToCart">

         <wsdl:input message="impl:addToCartRequest" name="addToCartRequest">

       </wsdl:input>

         <wsdl:output message="impl:addToCartResponse" name="addToCartResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="isInCart">

         <wsdl:input message="impl:isInCartRequest" name="isInCartRequest">

       </wsdl:input>

         <wsdl:output message="impl:isInCartResponse" name="isInCartResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllCars">

         <wsdl:input message="impl:getAllCarsRequest" name="getAllCarsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllCarsResponse" name="getAllCarsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="rent">

         <wsdl:input message="impl:rentRequest" name="rentRequest">

       </wsdl:input>

         <wsdl:output message="impl:rentResponse" name="rentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="unrent">

         <wsdl:input message="impl:unrentRequest" name="unrentRequest">

       </wsdl:input>

         <wsdl:output message="impl:unrentResponse" name="unrentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMyCars">

         <wsdl:input message="impl:getMyCarsRequest" name="getMyCarsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getMyCarsResponse" name="getMyCarsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AppSoapBinding" type="impl:App">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="connect">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="connectRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="connectResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getQueue">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getQueueRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getQueueResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNotifications">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNotificationsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getNotificationsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="isCurrentlyRented">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isCurrentlyRentedRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="isCurrentlyRentedResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeNotification">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeNotificationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeNotificationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="basketToJSON">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="basketToJSONRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="basketToJSONResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeFromCart">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeFromCartRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeFromCartResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addToCart">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addToCartRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addToCartResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="isInCart">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isInCartRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="isInCartResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllCars">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllCarsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllCarsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="rent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="rentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="rentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="unrent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="unrentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="unrentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMyCars">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMyCarsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getMyCarsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AppService">

      <wsdl:port binding="impl:AppSoapBinding" name="App">

         <wsdlsoap:address location="http://localhost:8080/IfsCar/services/App"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
